<!DOCTYPE html>
<html>
 
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <script src="https://trello.com/1/client.js?key=2905a45608f989a24bf26e3d92edcf80"></script>
    <script type="module" src="../js/new-meeting.js"></script>
</head>
 
<body>
    <div class="container" style="margin:100px">
        <form class="row g-3" id="meetingForm">
            <div class="col-md-12">
                <label for="meetingName" class="form-label">Meeting name</label>
                <input type="text" class="form-control" id="meetingName" placeholder="Type meeting name" required/>
            </div>
            <div class="col-md-12">
                <label for="lengthgroup">Label:</label>
                <div class="input-group mb-12" id="lengthgroup">
                    <span class="input-group-text">Start</span>
                    <input class="form-control col-md-3"
                        type="datetime-local" id="meetingstart" placeholder="Select date and time"  required/>
                    <span class="input-group-text">End:</span>
                    <input class="form-control col-md-2"
                        type="time" id="meetingend" required/>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" type="submit" id="createmeeting">Create meeting</button>
            </div>
        </form>
    </div>
</body>
 
</html>