<!DOCTYPE html>
<html>
 
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <script src="https://trello.com/1/client.js?key=2905a45608f989a24bf26e3d92edcf80"></script>
    <script type="module" src="../js/summary-section.js"></script>
</head>
 
<body>
    <div class="container" style="margin:0px">
        <form class="row">
            <label for="lengthgroup">Meeting:</label>
            <div class="input-group mb-12 align-items-start" id="lengthgroup">
                <input class="form-control col-md-2"
                    type="time" id="meetingstart" required/>
                    <span class="input-group-text">To</span>
                <input class="form-control col-md-2"
                    type="time" id="meetingend"  required/>
            </div>
        </form>
    </div>
</body>
 
</html>